body {
    margin: 0;
}


/*instructions*/

.instructions {
    text-align: center;
    border: 1px solid black;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -450px;
    width: 900px;
    height: 600px;
    color: white;
    z-index: 5;
}

.instructionsList {
    text-align: left;
    width: 60%;
    margin: 30px auto;
}

input {
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin: 0 50px;
}

.start {
    height: 54px;
    width: 150px;
    font-size: 33px;
    margin-top: 50px;
    border-radius: 5%;
}

.letterValuesBox {
    display: flex;
    align-items: center;
    position: absolute;
    right: -150px;
    width: 200px;
    height: 500px;
    background-color: beige;
    color: brown;
    top: 50%;
    margin-top: -250px;
}

.tab {
    width: 50px;
    height: 65px;
    background-color: grey;
    border-radius: 10% 0 0 10%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border: 1px solid black;
    z-index: 3;
}

hr {
    border: 1px solid black;
    width: 70%;
}

.letterValues {
    height: 500px;
    width: 150px;
    background-color: beige;
    border: 1px solid black;
    z-index: 3;
}

.slideLeft {
    animation: moveLeft 2s;
    animation-fill-mode: forwards
}

.slideRight {
    animation: moveRight 2s;
    animation-fill-mode: forwards
}


/*main screen*/

.container {
    background-color: beige;
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 60px
}

.textBox {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
}

.playerOneScoreBox {
    left: 20px;
    top: 0;
}

.playerTwoScoreBox {
    right: 20px;
    top: 0;
}

.remainingTilesBox {
    left: 20px;
    top: 50%;
}

h3 {
    font-size: 15px;
    margin: 0;
}


/*game board*/

.row {
    position: relative;
    width: 480px;
    margin: 0 auto;
}

.box {
    border: 1px solid black;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    float: left;
    font-size: 25px;
}

.playerOneTitle,
.playerTwoTitle {
    clear: both;
    text-align: center;
    position: relative;
    top: 20px;
}

.playerOneTiles,
.playerOneTitle {
    display: none;
}

.playerOneTile,
.playerTwoTile,
.permInPlay,
.tempInPlay {
    background-image: url("./tile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.playerTwoTiles,
.playerTwoTitle {
    display: show;
}

.playerOneTilesRow,
.playerTwoTilesRow {
    clear: both;
    position: relative;
    top: 5px;
    width: 224px;
    margin: 20px auto;
}

.tileBox {
    border: 1px solid black;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    float: left;
    font-size: 25px;
}

.refreshTiles,
.backToRack,
.showTiles,
.playAgain {
    position: relative;
    top: 3px;
    left: 10px;
    clear: both;
    height: 36px;
    width: 100px;
    font-size: 12px;
    border-radius: 5%;
}

.playAgain {
    display: none;
    top: 50vh;
    left: 50%;
    margin: -18px 0 0 -50px;
}

.playerOneScore,
.playerTwoScore,
.remainingTiles {
    font-size: 35px;
    text-align: center;
    margin: 5px;
}

.submitWord {
    clear: both;
    position: relative;
    height: 36px;
    width: 100px;
    font-size: 12px;
    border-radius: 5%;
    display: block;
    margin: 30px auto;
}

.selected {
    border-color: red;
}

.playerOneTilesRow,
.playerTwoTilesRow {
    display: none;
}

@keyframes moveLeft {
    from {
        right: -150px;
    }
    to {
        right: 0;
    }
}

@keyframes moveRight {
    from {
        right: 0;
    }
    to {
        right: -150px;
    }
}

@media (max-width: 800px) {
    .instructionsList {
        text-align: left;
        width: 40%;
        margin: 30px auto;
        font-size: 12px;
    }

    input {
        height: 25px;
        width: 100px;
        font-size: 15px;
        margin: 0 50px;
    }
    .row {
        width: 330px;
    }
    .playerOneTilesRow,
    .playerTwoTilesRow {
        width: 224px;
    }
    .refreshTiles,
    .backToRack,
    .showTiles,
    .submitWord {
        height: 18px;
        width: 70px;
        font-size: 8px;
        top: 5px;
    }
    .box,
    .tileBox {
        width: 20px;
        height: 20px;
        font-size: 18px;
    }
    .title {
        font-size: 40px;
    }
    h3 {
        font-size: 10px;
    }
    .playerOneScoreBox {
        left: 0;
        top: 0;
    }
    .playerTwoScoreBox {
        right: 0;
        top: 0;
    }
    .remainingTilesBox {
        top: 70%;
    }
    .playerOneScore,
    .playerTwoScore,
    .remainingTiles {
        font-size: 25px;
        text-align: center;
        margin: 0;
    }
}
